body{
	display: flex;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
	width: 100vw;
	height: 100%;
	background-image: url("images/kiwi_repeat.png");
	background-repeat: repeat;
	margin: 0px;
	background-color: #8ca9c0;
}
#container{
	display: flex;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
	gap: 10px;
	width: 100vw;
	height: 100%;
	padding: 20px;
}
#bio-container{
	padding-top: 20px;
	display: flex;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	flex-wrap: wrap;
  	width: 80vw;
}
#icon img{
	width:300px;
	height:300px;
}
#icon .credit{
	margin-top:5px;
	text-align: right;
  	background-color: #8ca9c0bb;
}
#bio{
	margin-top:-5px;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #16302B;
  	background-color: #8ca9c0bb;
	padding: 20px;
  	border-radius: 50px;
}
.credit{
	font-family: 'Merriweather', serif;
	color: #4C4C4C;
	font-size: small;
}
#socials{
	font-family: 'Merriweather', serif;
	color: #16302B;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  	gap: 10px;
  	width: 80vw;
}
#socials > a{
	display: block;
	padding: 10px;
	background-color: #86B46F;
	border-radius: 20px;
	text-align: center;
	width: 100%;
	text-decoration: none;
	color: #513D38;
}
.label{
	font-size: large;
}

@media only screen and (min-width: 768px) {
	body {
		height: 100vh;
	}
	#container {
		padding: 50px;
  		border-radius: 50px;
  		width: 70vw;
  		height: fit-content;
		gap: 20px;
	}
	#bio-container {
		width: 45%;
	}
	#socials {
		width: 45%;
	}
}